* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(241,122,124);
    background: linear-gradient(330deg, rgba(241,122,124,1) 0%, rgba(91,99,183,1) 73%);
}


nav {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1 fr;
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.850);
    border-radius: 0px 0px 40px 40px;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 

nav ul {
    align-self: center;
    justify-self: right;
    word-spacing: 20px;
    margin-right: 50px;
}

nav ul li {
    display: inline-block;
}

nav ul li a{
    color: #5B63B7;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 1000;
    text-transform: uppercase;
}

.logo {
    align-self: center;
    margin-left: 30px;
}

.logo img {
    width: 40px;
    height: 40px;
}

li a.active, li a:hover {
    color: rgb(255, 255, 255);
    transition: 0.4s 0s ease;
}

section {
    width: 80%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.850);
    border-radius: 40px 40px 40px 40px;
    display: grid;
    grid-template-rows: 150px 450px;
    grid-template-columns: 1fr; 
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
} 

.titulo {
    margin: 40px 0px 0px 40px;
}

.titulo h1 {
    color: #5B63B7;
    font-size: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.titulo h2 {
    color: #F17A7C;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.proyectos-imagenes {
    align-self: center;
    justify-self: center;
}

.proyectos-imagenes img {
    width: 350px;
    height: 350px;
    border-radius: 40px 40px 40px 40px;
    margin: 0 15px 0px 15px;
}

.footer {
    display: grid;
    grid-template-columns: 100px 1fr; 
    grid-template-rows: 1 fr;
    background-color: rgba(0, 0, 0, 0.850);
    width: 100%;
    height: 100px;
    margin-top: 50px;
    border-radius: 40px 40px 0px 0px;
}

.footer ul li {
    font-size: 12px;
    color: #F17A7C;
    letter-spacing: 1px;
    padding: 0px 20px;
    margin-top: 5px;
}