@import "variables";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: linear-gradient(to left top, #f17a7c, #e06a90, #c262a4, #9762b2, #5b63b7);
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1 fr;
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 0px 0px 40px 40px;
  animation-name: fadeInDown;
  animation-duration: 2s;
  animation-fill-mode: both;

  ul {
    align-self: center;
    justify-self: right;
    word-spacing: 20px;
    margin-right: 50px;

    li {
      display: inline-block;

      a {
        color: #5B63B7;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 1000;
        text-transform: uppercase;
      }
    }
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.logo {
  align-self: center;
  margin-left: 30px;

  img {
    width: 40px;
    height: 40px;
  }
}

li a {
  &.active, &:hover {
    color: rgb(255, 255, 255);
    transition: 0.4s 0s ease;
  }
}

section {
  width: 80%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 40px 40px 40px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.titulo {
  align-self: center;
  margin-left: 80px;

  h1 {
    font-size: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #5B63B7;
  }

  h2 {
    color: #5B63B7;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 300;
  }

  h3 {
    color: #F17A7C;
    font-size: 10px;
    letter-spacing: 4px;
    font-weight: 1000;
    text-transform: uppercase;
  }

  ul li {
    display: inline-block;
    line-height: 70px;

    a {
      color: #5B63B7;
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: 300;
      padding: 0px 20px;

      &:hover {
        color: rgb(255, 255, 255);
        transition: 0.4s 0s ease;
      }
    }
  }
}

span {
  color: white;
  font-weight: 1000;
}

.imagen {
  justify-self: center;
  align-self: center;
}

.footer {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1 fr;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100px;
  margin-top: 50px;
  border-radius: 40px 40px 0px 0px;

  ul li {
    font-size: 12px;
    color: #F17A7C;
    letter-spacing: 1px;
    padding: 0px 20px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 1200px) {
  section {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  nav {
    width: 1150px;
  }

  section {
    width: 1100px;
    margin-left: 25px;
  }

  footer {
    width: 1150px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    width: 1150px;
  }

  section {
    width: 1100px;
    height: 900px;
    margin-left: 20px;
  }

  footer {
    width: 1150px;
  }
}

@media screen and (max-width: 320px) {
  nav {
    width: 1150px;
    height: 200px;
  }

  section {
    width: 1050px;
    height: 2000px;
    margin-left: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  footer {
    width: 1150px;
  }

  .titulo {
    text-align: center;
    margin-right: 60px;

    h1 {
      font-size: 100px;
      margin-top: 30px;
    }

    h2 {
      font-size: 50px;
    }

    h3 {
      font-size: 30px;
    }

    ul {
      margin-top: 40px;

      li a {
        font-size: 40px;
      }
    }
  }

  .footer {
    width: 1150px;
    height: 300px;

    ul {
      margin-top: 40px;

      li {
        font-size: 25px;
        color: #F17A7C;
        letter-spacing: 1px;
        margin-left: 40px;
      }
    }
  }

  .logo img {
    width: 90px;
    height: 90px;
  }

  .imagen img {
    width: 900px;
    height: 900px;
  }
}