@import "variables";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: linear-gradient(to left top, #f17a7c, #e06a90, #c262a4, #9762b2, #5b63b7);
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1 fr;
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 0px 0px 40px 40px;
  animation-name: fadeInDown;
  animation-duration: 2s;
  animation-fill-mode: both;

  ul {
    align-self: center;
    justify-self: right;
    word-spacing: 20px;
    margin-right: 50px;

    li {
      display: inline-block;

      a {
        color: $colorViolet;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 1000;
        text-transform: uppercase;
      }
    }
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.logo {
  align-self: center;
  margin-left: 30px;

  img {
    width: 40px;
    height: 40px;
  }
}

li a {
  &.active, &:hover {
    color: white;
    transition: 0.4s 0s ease;
  }
}

section {
  width: 80%;
  height: 950px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 40px 40px 40px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 1fr 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.titulo {
  grid-area: 1 / 1 / 2 / 3;
  margin: 0px 0px 0px 40px;
  align-self: center;
  justify-self: left;

  h1 {
    color: $colorViolet;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  h2 {
    color: $colorRed;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.educacion {
  grid-area: 2 / 1 / 4 / 2;
  margin: 0px 0px 0px 40px;
  align-self: start;
  justify-self: left;

  h1 {
    font-size: 25px;
    color: white;
    margin: 10px 0px 0px 40px;
  }

  h2 {
    font-size: 20px;
    color: $colorViolet;
    margin-top: 10px;
  }

  h3 {
    font-size: 20px;
    color: white;
    font-weight: 300;
    margin-top: 10px;
  }
}

.competencias {
  grid-area: 4 / 1 / 6 / 2;
  margin: 0px 0px 0px 40px;
  align-self: start;
  justify-self: left;

  h1 {
    font-size: 25px;
    color: white;
    margin: 10px 0px 0px 40px;
  }

  h2 {
    font-size: 20px;
    color: $colorViolet;
    margin-top: 10px;
  }

  h3 {
    font-size: 20px;
    color: white;
    font-weight: 300;
    margin-top: 10px;
  }
}

.exp {
  grid-area: 2 / 2 / 6 / 3;
  align-self: start;
  justify-self: left;
  margin: 0px 40px 0px 0px;

  h1 {
    font-size: 25px;
    color: white;
    margin: 10px 0px 0px 40px;
  }

  h2 {
    font-size: 20px;
    color: $colorViolet;
    margin-top: 10px;
  }

  h3 {
    font-size: 20px;
    color: white;
    margin-top: 10px;
  }

  h4 {
    font-size: 20px;
    color: white;
    font-weight: 300;
    margin-top: 10px;
  }
}

.footer {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1 fr;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100px;
  margin-top: 50px;
  border-radius: 40px 40px 0px 0px;
  animation-name: fadeInUp;
  animation-duration: 2s;
  animation-fill-mode: both;

  ul li {
    font-size: 12px;
    color: $colorRed;
    letter-spacing: 1px;
    padding: 0px 20px;
    margin-top: 5px;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@media screen and (max-width: 1200px) {
  section {
    width: 90%;
    height: 1100px;
  }
}

@media screen and (max-width: 1024px) {
  nav {
    width: 1150px;
  }

  section {
    width: 1100px;
    margin-left: 25px;
  }

  footer {
    width: 1150px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    width: 1150px;
  }

  section {
    width: 1100px;
    height: 1000px;
    margin-left: 20px;
  }

  footer {
    width: 1150px;
  }
}

@media screen and (max-width: 320px) {
  nav {
    width: 1150px;
    height: 200px;
  }

  section {
    width: 1050px;
    height: 4200px;
    margin-left: 50px;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 900px 700px 1fr;
  }

  .titulo {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: 20px;
    margin-right: 30px;

    h1 {
      font-size: 80px;
    }

    h2 {
      font-size: 60px;
    }
  }

  .educacion {
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 20px;
    margin-right: 30px;

    h1 {
      font-size: 60px;
    }

    h2, h3 {
      font-size: 50px;
    }
  }

  .competencias {
    grid-area: 3 / 1 / 4 / 2;
    align-self: center;
    justify-self: center;

    h1 {
      font-size: 60px;
    }

    h2, h3 {
      font-size: 50px;
    }
  }

  .exp {
    grid-area: 4 / 1 / 5 / 2;
    margin-top: 20px;
    margin-left: 40px;

    h1 {
      font-size: 60px;
      margin-top: 20px;
    }

    h2, h3, h4 {
      font-size: 50px;
    }
  }

  .footer {
    width: 1150px;
    height: 300px;

    ul {
      margin-top: 40px;

      li {
        font-size: 25px;
        color: $colorRed;
        letter-spacing: 1px;
        margin-left: 40px;
      }
    }
  }

  .logo img {
    width: 90px;
    height: 90px;
  }

  .imagen img {
    width: 900px;
    height: 900px;
  }
}