* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(203,204,255,1) 0%, rgba(91,99,183,1) 50%);
    background-size: 400% 400%;
    animation: AnimationName 7s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1 fr;
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.850);
    border-radius: 0px 0px 40px 40px;
}

nav ul {
    align-self: center;
    justify-self: right;
    word-spacing: 20px;
    margin-right: 50px;
}

nav ul li {
    display: inline-block;
}

nav ul li a{
    color: #5B63B7;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 1000;
    text-transform: uppercase;
}

.logo {
    align-self: center;
    margin-left: 30px;
}

.logo img {
    width: 40px;
    height: 40px;
}

li a.active, li a:hover {
    color: rgb(255, 255, 255);
    transition: 0.4s 0s ease;
}

section {
    width: 80%;
    height: 820px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.850);
    border-radius: 40px 40px 40px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
    
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
} 

.titulo {
    margin: 40px 0px 0px 40px;
}

.titulo h1 {
    color: #5B63B7;
    font-size: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.formulario {
    margin: 40px 50px 0px 0px;
}

.formulario h2 {
    color: white;
    font-size: 30px;
    font-weight: 300;
}

.formulario form {
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 30px 0;
}

.formulario form label {
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    color: #5B63B7;
}

.formulario form input {
    font-size: 20px;
    letter-spacing: 2px;
    background-color: #5b63b700;
    color: white;
    border: 2px solid white;
}

.formulario form textarea{
    font-size: 20px;
    letter-spacing: 2px;
    background-color: rgba(66, 66, 66, 0);
    color: white;
    border: 2px solid white;
}

.footer {
    display: grid;
    grid-template-columns: 100px 1fr; 
    grid-template-rows: 1 fr;
    background-color: rgba(0, 0, 0, 0.850);
    width: 100%;
    height: 100px;
    margin-top: 50px;
    border-radius: 40px 40px 0px 0px;
}

.footer ul li {
    font-size: 12px;
    color: #F17A7C;
    letter-spacing: 1px;
    padding: 0px 20px;
    margin-top: 5px;
}